* {
    margin: 0;
    padding: 0;
}

.portPrincipial {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 30px;
}

.pagina-principal {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.portada img {
    width: 100%;
}

.formulario {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    width: 420px;
    height: 409px;
    align-items: center;
}

.formulario input {
    width: 320px;
    height: 35px;
    margin: 2px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    border: 1px solid lightgray;
}

.formulario label {
    width: 320px;
    height: 35px;
    margin: 2px;
}

.formulario select {
    width: 320px;
    height: 35px;
    margin: 2px;
}

.formulario textarea {
    width: 320px;
    height: 135px;
    margin: 2px;
}

.formulario button {
    display: flex;
    width: 320px;
    margin: 10px 10px;
    height: 90px;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    color: #fff;
    border-radius: 5px;
}

.formulario-acceso {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    width: 420px;
    height: 209px;
    align-items: center;
    height: 10px 10px;
}

.formulario-acceso select {
    width: 320px;
    height: 25px;
    margin: 2px;
}

.formulario-acceso button {
    display: flex;
    width: 320px;
    margin: 10px 10px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    color: #fff;
    border-radius: 5px;
}

.informaccion_vuelo {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.informaccion_vuelo p {
    padding: 10px;
}

.informaccion_vuelo img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.informaccion_vuelo h1 {
    color: #009688;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.informaccion_vuelo p {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

footer {
    background-color: crimson;
    height: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
}